@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header{
    /* background-color: black; */
    height: 60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.header-appName{
    font-size: 30px;
}

.external-linksDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.external-linksDiv ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.external-linksDiv ul li{
    cursor: pointer;
}

.external-linksDiv ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.external-linksDiv ul li:nth-child(2){
    margin-left: 35px;
}

.quote-parentDiv{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.quote-div{
    /* background-color: aqua; */
    width: 550px;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 25px;
    font-weight: bold;
}

.quote-author{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.generate-quote-btn{
    
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: rgb(0, 110, 255);
    color: white;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;

}

.generate-quote-btn:hover{
    background-color: rgb(1, 91, 209);

}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    align-self: center;
}

.btn-div img{
    height: 40px;
    margin-top: 13px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}

.btn-div img:hover{
    background: #f5f6f6;
}

.more-optionsDiv{
    height: 200px;
    width: 250px;
    -webkit-box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.49);
    box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.49);
    align-self: flex-end;
}

.hide{
    display: none;
}

.share-on-twitter{
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.share-on-twitter:hover{
    background-color: #f5f6f6;
}

@media only screen and (max-width: 750px){
    .external-linksDiv ul{
        flex-direction: column;
        align-items: center;
    }

    .external-linksDiv ul li:nth-child(2){
        margin-top: 10px;
        margin-left: 0px;
    }

    .quote-div{
        display: flex;
        flex-direction: column;
    }

    .quote{
        padding-left: 10px;
        padding-right: 10px;
    }

    .quote-author{
        padding-left: 10px;
    }

    .generate-quote-btn{
        align-self: center;
    }
}

@media only screen and (max-width: 600px){
    .btn-div{
        width: 300px;
    }
}